<nav>Navbar</nav>

<section class="new-item">
  <input
    type="text"
    placeholder="New Item"
    [value]="newTodo"
    (input)="newTodoUpdate($event)"
    (keyup.enter)="addNewTodo()"
  />
  <button (click)="addNewTodo()" [disabled]="!newTodo">Add</button>
</section>

<section class="todo-list">
  <div *ngFor="let todo of todos" [class.done]="todo.status">
    <input
      class="todo-checkbox"
      type="checkbox"
      [checked]="todo.status"
      (change)="doneTodo(todo.id)"
    />
    <input
      #input
      class="todo-text-open"
      *ngIf="!todo.status"
      type="text"
      [value]="todo.text"
      (change)="updateTodo(todo.id, input.value)"
    />
    <span class="todo-text-done" *ngIf="todo.status">{{ todo.text }}</span>
    <span class="todo-time">{{
      this.todo.time | date: "dd/MM/YY hh:mm:ss"
    }}</span>
  </div>
</section>
