<nav>Navbar</nav>

<section class="new-item">
  <input
    type="text"
    placeholder="New Item"
    [value]="newTodo"
    (input)="newTodoUpdate($event)"
    (keyup.enter)="addNewTodo()"
  />
  <button (click)="addNewTodo()" [disabled]="!newTodo">Add</button>
</section>

<section class="item-list">
  <div *ngFor="let todo of todos" [class.done]="todo.status">
    <input type="checkbox" [checked]="todo.status" (change)="doneTodo(todo)" />
    <span>{{ todo.text }}</span>
    <span>{{ this.todo.time | date: "dd/MM/YY hh:mm:ss" }}</span>
  </div>
</section>
