*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  height: auto;
  margin: 0;
  overflow: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

body {
  box-sizing: border-box;
  background: hsl(0, 0%, 90%);
}
